{% extends "base.html" %}

{% block content %}

<h1>Curso</h1>

<form  action="/curso" enctype="multipart/form-data" method="post">
    <div><label>Nome:</label></div>
    <div><input type="text" name="nome"/></div>
    <div><label>Periodos:</label></div>
    <div><input type="number" name="periodos" min="1"/></div>
    <div><label>Semestral:</label></div>
    <div><input type="radio" name="semestral" value="Sim"/>Sim</div>
    <div><input type="radio" name="semestral" value="Nao" />Não</div>
    <br>
    <div><input type="submit" value="Adicionar"></div>
</form>

<h1>Cursos</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Periodos</th>
        <th>Semestral</th>
        <th>Editar</th>
        <th>deletar</th>
        <th>Disciplinas</th>
    </tr>
    {% for curso in cursos %}
        <tr>
            <td>{{curso.nome}}</td>
            <td>{{curso.periodos}}</td>
            <td>{{curso.semestral}}</td>
            <td><a href="/updatecurso?key={{curso.key.urlsafe()}}"><button type="button">editar</button></a></td>
            <td><a href="/deletecurso?key={{curso.key.urlsafe()}}"><button type="button">deletar</button></a></td>
            <td><a href="/disciplina?key={{curso.key.urlsafe()}}"><button type="button">editar</button></a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}