{% extends "base.html" %} {% block content %}

<div id="curso" class="container-ext center-page">

    <h2 class="padding-top-10">CURSO</h2>

    <script>
        function add_curso(opc){
            tabela = document.getElementById('tabela');
            form = document.getElementById('form_curso');

            if(opc){
                tabela.classList.remove('block');
                tabela.classList.add('none');
                form.classList.add('block');
                form.classList.remove('none');
            }else{
                form.classList.remove('block');
                form.classList.add('none');
                tabela.classList.add('block');
                tabela.classList.remove('none');
            }
        }
    </script>

    <div id="form_curso" class="none">
        <button class="btn-home" onclick="add_curso(0)">
            <i class="fa fa-arrow-left"></i>
        </button>
        <form action="/curso" enctype="multipart/form-data" method="post">
            <div><label>Nome</label></div>
            <div><input type="text" name="nome" placeholder="Digite o nome"/></div>
            <div><label>Periodos</label></div>
            <div><input type="number" name="periodos" min="1"  placeholder="Quantos periodos?"/></div>
            <div><label>Semestral</label></div>
            <div class="padding-bot-10">
                <input type="radio" name="semestral" value="Sim" />Sim
                <input type="radio" name="semestral" value="Nao" />Não
            </div>

            <div>
                <input type="submit" value="Adicionar">
            </div>
        </form>
    </div>

    <div id="tabela" class="block">
        <div class="padding-bot-10">
            <a class="btn-home" href="/">
                <i class="fa fa-home"></i>
            </a>
            <button class="btn-home" onclick="add_curso(1)">
                <i class="fa fa-plus"></i> 
            </button>
        </div>

        <div class="w3-responsive">
            <table class="w3-table-all">
                <tr>
                    <th>Nome</th>
                    <th>Periodos</th>
                    <th>Semestral</th>
                    <th>Editar/Deletar</th>
                    <th>Disciplinas</th>
                </tr>
                {% for curso in cursos %}
                <tr>
                    <td>{{curso.nome}}</td>
                    <td>{{curso.periodos}}</td>
                    <td>{{curso.semestral}}</td>
                    <td id="campo_editar_deletar">
                        <a href="/updatecurso?key={{curso.key.urlsafe()}}"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a>
                        <a href="/delete?id={{curso.key.urlsafe()}};page=curso"><i class="fa fa-trash-o fa-3x" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a href="/disciplina?key={{curso.nome}}">
                            <i class="fa fa-book"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}