{% extends "base.html" %}

{% block content %}

<h1>Disciplina</h1>

<form  action="/disciplina?key={{key_curso.urlsafe()}}" enctype="multipart/form-data" method="post">
    <div><label>Nome:</label></div>
    <div><input type="text" name="nome"/></div>
    <div><label>Periodo:</label></div>
    <div><input type="number" name="periodo"/></div>
    <br>
    <div><input type="submit" value="Adicionar"></div>
</form>

<h1>Disciplinas</h1>
<table>
    <tr>
        <th>Nome</th>
        <th>Periodo</th>
        <th>Curso</th>
        <th>Editar</th>
        <th>deletar</th>
    </tr>
    {% for disciplina in disciplinas %}
        <tr>
            <td>{{disciplina.nome}}</td>
            <td>{{disciplina.periodo}}</td>
            <td>{{key_curso.get().nome}}</td>
            <td><a href="/updatedisciplina?key={{disciplina.key.urlsafe()}}"><button type="button">editar</button></a></td>
            <td><a href="/deletedisciplina?key={{disciplina.key.urlsafe()}}"><button type="button">deletar</button></a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}