{% extends "base.html" %} {% block content %}

<div id="home" class="container center">

    <img src="/img/logo_ifpb.png" class="img-350-200 marg-top-10">

    <hr class="hr-line">

    <h2>
        IFPB - Campus Guarabira
    </h2>

    <hr class="hr-line">

    <h3>
        <a class="btn-home" href="http://www.ifpb.edu.br/guarabira">
			Site Oficial
		</a>
    </h3>

    <hr class="hr-line">

    <h3>
        <a class="btn" href="/curso">
			Curso
		</a>
        <a class="btn" href="/professor">
			Professor
     	</a>
    </h3>

    <hr class="hr-line">

    <h3 class="padding-bot-10">
        <a id="github" class="btn-home" href="https://github.com/ThiagoWhispher/web-gae-test">
            <i class="fa fa-fw fa-github"></i>
        </a>
    </h3>
</div>

{% endblock %}